<%= partial 'layouts/nav' %>

<main class="channels">
  <%= partial 'layouts/modal' %>
  <%= partial 'nav' %>

  <section class='channels-api'>
    <%= partial 'api' %>
  </section>

  <section class='new-channel'>
    <%= partial 'new' %>
  </section>


  <section class='search-channels'>
    <%= partial 'search' %>
  </section>


  <section class='all-channels'>
    <div class="hidden" id='channel-template'>
    </div>

    <h2>All channels</h2>

    <div class="pagination">
    </div>

    <ul class='channel-list'>
    </ul>

    <img class='loader' src="http://waywire.com/media/site/YH5PLD0V56XPX2RS/uploads/loader1.gif" alt="">
  </section>

</main>


<script type="text/javascript">
  $('#channel-template').load('javascripts/templates/channel_index.txt')
</script>