<%= partial 'layouts/nav' %>

<main class="channels">
  <%= partial 'layouts/modal' %>
  <%= partial 'nav' %>

  <section class='channels-api'>
    <%= partial 'api' %>
  </section>   

  <section class='new-channel'>
    <%= partial 'new' %>
  </section>


  <section class='search-channels'>
    <%= partial 'search' %>
  </section>


  <section class='all-channels'>
    <h2>All channels</h2>
    
    <div class="pagination">
    </div>

    <ul id='channel-list'>
    </ul>
  </section>

</main>
